<main>
    <h1>Registro</h1>
    <form class="example-form" [formGroup]="formularioRegistro">
        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre del usuario</mat-label>
                <input matInput i18n-placeholder placeholder="Nombre" value="" formControlName="nombre">
            </mat-form-field>
            <!--ALTERNATIVA 1-->
            <div class="error">
                <div class="error" *ngIf="formularioRegistro.dirty && formularioRegistro.controls['nombre'].errors?.['required']">
                    El nombre es obligatorio
                </div>
                <div class="error" *ngIf="formularioRegistro.dirty && formularioRegistro.controls['nombre'].errors?.['minlength']">
                    El nombre debe tener más de 10 caracteres
                </div>
            </div>
            <!--ALTERNATIVA 2-->
            <div class="error">
                {{getNameErrorMessage()}}
            </div>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fecha">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Dirección de correo electrónico</mat-label>
                <input matInput placeholder="Email" value="" formControlName="email">
            </mat-form-field>
        </div>
        <div id="div-botones">
            <button mat-raised-button color="primary" (click)="registrar()" [disabled]="!formularioRegistro.valid">Registrar</button>
            <button mat-raised-button color="warn" (click)="limpiar()">Limpiar</button>
        </div>
    </form>
</main>