<main>
    <h1>Registro</h1>
    <form class="example-form">
        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nombre del usuario</mat-label>
                <input matInput placeholder="Nombre" value="">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Dirección de correo electrónico</mat-label>
                <input matInput placeholder="Email" value="">
            </mat-form-field>
        </div>
        <div id="div-botones">
            <button mat-raised-button color="primary">Registrar</button>
            <button mat-raised-button color="warn">Limpiar</button>
        </div>
    </form>
</main>