main {
    text-align: center;
    background-color: #191f26;
    color:white;
}
input, button {
    padding: 10px;
    font-weight: 600;
}

.ficha-peli {
    width: 99%;
    height: 500px;
    background-color: #374454;
    border-radius: 5px;
    padding: 5px;
    margin-top:10px;
    text-align: center;
}

.ficha-peli img {
    height: 400px;
}

.enlace {
    color: orange;
    padding: 3px;
}
.enlace:hover {
    font-weight: bolder;
    cursor: pointer;
}

