html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
main {
    width: 1000px;
    margin:auto;
    background-color: rgb(134, 133, 133);
    padding:1em;
}